<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Shahzaib Sarwar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/main.css" th:href="@{/style/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,400,700" rel="stylesheet">
    <title>Add User</title>
</head>
<body>
<div class="content flexbox flexbox-center">
    <div class="text-center">
        <h1 class="heading">Add User</h1>
        <form th:action="@{/admin/users/add}" th:object="${user}" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" th:field="*{username}" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" required>
            </div>
            <div>
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" th:field="*{firstName}" required>
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" th:field="*{lastName}" required>
            </div>
            <div>
                <button type="submit">Add User</button>
            </div>
        </form>
    </div>
</div>
<footer class="full-width">
    &copy; VU QUIZ <span th:text="${#dates.year(#dates.createNow())}">1995</span> &#9473; created by Shahzaib
</footer>
</body>
</html>
