<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Shahzaib Sarwar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/main.css" th:href="@{/style/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,400,700" rel="stylesheet">
    <title>Admin Page</title>
</head>
<body>
<div class="content flexbox">
    <div class="left-drawer">
        <ul>
            <li><a th:href="@{/admin/users}">View Users</a></li>
            <li><a th:href="@{/admin/users/add}">Add User</a></li>
        </ul>
    </div>
    <div class="main-content flexbox flexbox-center">
        <div class="text-center">
            <h1 class="heading">Admin Page</h1>
            <h2 class="heading top-bottom-margin">Welcome to the Admin Page</h2>
        </div>
    </div>
</div>
<footer class="full-width">
    &copy; VU QUIZ <span th:text="${#dates.year(#dates.createNow())}">1995</span> &#9473; created by Shahzaib
</footer>
</body>
</html>
